<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <meta name="description" />
    <meta name="author" />
    <title>Authentification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div className="LoginForm">
        <form method="post" action="./">
            <h1>Connexion</h1>
            <label>Login :</label>
            <br />
            <input type="login" name="login" onChange={this.onChange} value={this.state.login} required={true} placeholder={LangPicker(Lang, "accountName")}/>
            <br />
            <br />
            <label>Password :</label>
            <br />
            <input type="password" name="pass" onChange={this.onChange} value={this.state.pass} required={true} placeholder={LangPicker(Lang, "password")}/>
            <br />
            <button type="submit">
                Valider
              </button>
        </form>
    </div>
</body>

</html>


<!-- <div class="LoginForm">
        <form method="post" action="/authenticate">
            <div class="form-group">
                <label for="login">Login : </label>
                <input type="text" class="form-control" id="login" />
            </div>
            <div class="form-group">
                <label for="password">Password : </label>
                <input type="password" class="form-control" id="password" />
            </div>
            <button type="submit" class="btn btn-default">Valider</button>
        </form>
    </div> -->