div(classname="LoginForm")
    form(method="post" action="/authenticate")
        h1 Connexion
        label Login :
        br
        input(type="login" name="login" required="")
        br
        br
        label Password :
        br
        input(type="password" name="pass" required="")
        br
        button(type="submit")
            | Valider
